<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="form-wrapper">
    <label for="amount">Amount: </label>
    <input type="number" formControlName="card_number" />
    <br />
    <label for="currency">Currency: </label>
    <input type="text" formControlName="cardholder_name" />
    <br />
    <label for="date">Date: </label>
    <input type="number" formControlName="csc_code" />
    <br />
    <label for="credit_card">Credit card: </label>
    <select formControlName="credit_card" [compareWidt]="compare">
      <option [ngValue]="" disabled selected>Credit card</option>
      <option
        *ngFor="let credit_card of credit_cards | async"
        [ngValue]="credit_card"
      >
        {{ credit_card.number }}
      </option>
    </select>
    <hr />
    <button type="submit">Submit</button>
  </div>
</form>
