<div *ngIf="card$ | async as card">
  <p>Card Number: {{ card.card_number }}</p>
  <p>Cardholder: {{ card.cardholder_name }}</p>
  <p>CsC code: {{ card.csc_code }}</p>
  <p>
    Expiration Date:
    {{
      card.expiration_date_month | expirationDatePipe: card.expiration_date_year
    }}
    <!-- {{ card.expiration_date_month }} / -->
    <!-- {{ card.expiration_date_year }} -->
  </p>
  <p>Issuer: {{ card.issuer }}</p>
  <button (click)="deleteCard(card)">Delete card</button>
  <p>Transactions:</p>
  <app-transaction-list
    [filterNumber]="card.card_number + ''"
  ></app-transaction-list>
</div>
